.idea
.vs
.vscode
*.csproj.user
*.csproj.DotSettings

# builder
__pack_meta.txt
__pack_meta.txt.meta

# sdk
*.sln
*.csproj
obj
Logs
Library
UserSettings
Temp
Build

# blender
*.blend1
*.blend1.meta

#osx
.DS_Store
